body {
  display: grid;
  justify-items: center;
  align-items: start;
  background: black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  font-family: 'Press Start 2P', cursive;
}

#game-board {
  border: solid green 10px;
  background: black;
  grid-column: span 4;
  width: 70vmin;
  height: 70vmin;
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

#score-board {
  grid-column-start: 2;
  color: white;
  padding-left: 0px;
  justify-self: center;
}

.sbText {

}

.game_over {
  opacity: 0;
  color: white;
  text-align: start;
  align-self: start;
}

#Restart {
  opacity: 0;
  width: 80%;
  height: 80%;
  color: green;
  margin-bottom: 15px;
  background-color: black;
  border: solid green 5px;
  font-size:4rem; 
  text-decoration: none;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 green;
  position: relative;
}

#Restart:hover {
  box-shadow: inset 400px 0 0 0 green;
  color: white;
}

#Restart-Menu {
  justify-self: center;
  padding-bottom: 50px;
}

.snake {
  background-color: white;
}

.apple {
  background-color: red;
}