body {
  background: black;
  border: solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  color: green;
}

.Header, .Instructions {
  grid-column: span 3;
  font-size: 25px;
}

.Instructions {
  padding: 0 10px;
}

#Play {
  width: 100%;
  height: 100%;
  color: green;
  background-color: black;
  border: solid green 5px;
  font-size:5rem; 
  text-decoration: none;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 green;
  position: relative;
}

#Play:hover {
  box-shadow: inset 200px 0 0 0 green;
  color: white;
}

#Play-Div {
  grid-column: 2;
  padding-bottom: 50px;
}

#Title {
  font-size: 50px;
}

.snake_image {
  grid-column: span 1;
}


